<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Passing data from server to client</h1>
    <!-- Accessing data from server -->
    <h1>Welcome <%= userName %></h1>
    <h1><%= age %></h1>
    <h1><%= email %></h1>
    <% if (isPremeium) { %>
    <h1>Premium User</h1>
    <% }else{ %>
    <h1>Normal User</h1>
    <%} %>
    <h1><%= (isLogin)?"Login":"Logout" %></h1>
  </body>
</html>
